h1{
    color:red;
}

header {

    
    line-height: 2.3em;
    font-family: 'Railway' , sans-serif;
    
}

  
  body section {

      line-height: 2.3em;
      font-family: 'Railway' , sans-serif;
      padding-top: 30px;
      padding-left: 50px;
      padding-right: 20px;
  }
a:hover{
    color:orange;
}


#instgram:hover{
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 2px  2px  2px  grey;
}

#facebook:hover{
    border-radius: 2px;
        box-shadow: 2px 2px 2px  2px  grey;
}

#linkedin:hover{
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 2px 2px  2px   grey;
}

li:hover{
  
    color: orangered;
}